<section>
  <img
    src="https://framerusercontent.com/images/VBOCtHNLfHUHGwceIucLlFFC6U.png"
    alt=""
  />
  <p>Je n’accepte que 2 projets par mois.</p>
</section>

<style>
  section {
    gap: 6px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
    background-color: #ececec;
    height: 37px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
