---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mentions Legales">
  <div class="container">Mentions Legales</div>
</Layout>

<style>
  .container {
    height: 100%;
    text-align: center;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    color: azure;
  }
</style>
