<div class="container">
  <img src="public/images/star.png" class="image" />
  <img src="public/images/star.png" class="image" />
  <img src="public/images/star.png" class="image" />
  <img src="public/images/star.png" class="image" />
  <img src="public/images/star.png" class="image" />
</div>

<style>
  .container {
    display: flex;
    gap: 1px;
  }

  .image {
    width: 11px;
    height: 11px;
  }
</style>
