<div>
  <img src="astrosite1/images/star.png" />
  <img src="astrosite1/images/star.png" />
  <img src="astrosite1/images/star.png" />
  <img src="astrosite1/images/star.png" />
  <img src="astrosite1/images/star.png" />
</div>

<style>
  div {
    display: flex;
    gap: 1px;
  }

  img {
    width: 11px;
    height: 11px;
  }
</style>
