<style>
    .contact-section {
        padding: 1rem;
    }
    </style>
    
    <div class="contact-section">
        <h2>Contactez-Nous</h2>
        <p>Téléphone : 04 93 62 53 00</p>
        <p>Email : contact@plomberienice.fr</p>
        <p>Adresse : 22 Rue de la Liberté, 06000 Nice, France</p>
    </div>
    