---
// Composant Nav
---
<style>
    .nav {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        background: #444;
    }
    .nav a {
        color: #fff;
        text-decoration: none;
    }
    </style>
    
    <div class="nav">
        <a href="./">Accueil</a>
        <a href="./contact">Contact</a>
        <a href="./mentions-legales">Mentions Légales</a>
        <a href="./a-propos">À Propos</a>
    </div>
    