<h1>Chaque Abonné est un Client Potentiel.</h1>

<style>
  h1 {
    font-size: 72px;
    font-family: "Rubik", sans-serif;
    src: url("public/fonts/Rubik/Rubik-Regular.ttf") format("ttf");
    line-height: 1em;
    font-weight: 900;
    font-style: normal;
    letter-spacing: -0.02em;
    overflow-wrap: break-word;
    text-align: start;
    word-break: break-word;
  }
</style>
