---
import MainTitle from "./MainTitle.astro";
import SimpleReview from "./SimpleReview.astro";
import SubTitle from "./SubTitle.astro";
---

<section id="main-section">
  <SimpleReview/>
  <MainTitle />
  <SubTitle />
</section>

<style>
  section {
    width: 50%;
    height: 500px;
    background-color: brown;
  }
</style>
