---
import FiveRating from "../common/FiveRating.astro";

---

<div class="container">
  <FiveRating />
  <p>11+ Entrepreneurs Heureux</p>
</div>

<style>
  .container{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
</style>
