---
import Annonce from "../components/Annonce.astro";
import Vsl from "../components/Vsl.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <Annonce />
    <div class="content">
      <Vsl />
    </div>
  </div>
</Layout>

<style>
  .container {
    background-color: #01011b;
  }

  .content {
    width: 70%;
    margin: auto;
    background-color: rebeccapurple;
  }
</style>
