---
import Footer from "../components/Footer.astro";
import Annonce from "../components/Annonce.astro";
import LeftContent from "../components/LeftContent.astro";
import RightContent from "../components/right-section/RightContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <Annonce />
    <div class="content">
      <LeftContent />
      <RightContent />
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content {
    width: 45%;
    display: flex;
    gap: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rebeccapurple;
  }
</style>
