---
import Annonce from "../components/Annonce.astro";
import LeftContent from "../components/RightContent.astro";
import RightContent from "../components/LeftContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <Annonce />
    <div class="content">
      <LeftContent />
      <RightContent />
    </div>
  </div>
</Layout>

<style>
  .container {
    background-color: #01011b;
    height: 100%;
  }

  .content {
    width: 70%;
    height: fill;
    display: flex;
    gap: 5%;
    margin: auto;
    background-color: rebeccapurple;
  }
</style>
