---
import VslContent from "./VslContent.astro";
import VslFooter from "./VslFooter.astro";
import VslHeader from "./VslHeader.astro";
---

<section class="vsl">
  <VslHeader />
  <VslContent />
  <VslFooter />
</section>

<style>
  .vsl {
    background-color: red;
  }
</style>
