---
import VslContent from "./VslContent.astro";
import VslHeader from "./VslHeader.astro";
---

<section class="vsl">
  <VslHeader />
  <VslContent />
  <div class="vsl-footer"></div>
</section>

<style>

  .vsl {
    background-color: red;
  }

  .vsl-footer {
  }
</style>
