<div>
  <img src="https://framerusercontent.com/images/O26yS1SzvaDXwofXE6z96SAHpFY.png" alt="Tool" />
  <p>JE CONSTRUIS</p>
</div>

<style>

div {
    background-color: aquamarine;
    display: flex;
    border: 1px solid salmon;
    align-items: center;
  }

  img {
    display:block;
    width:29px;
    height:29px;
    border-radius:inherit;
    object-position:center;
    object-fit:cover;
    padding: 2px;
    image-rendering:auto;
    border-right: 1px solid salmon;
  }

  
  p{
    width: 100%;
    text-align: center;
  }

 
</style>
