
<div>
  <button></button>
</div>

<style>
div{
  background-color: black;
}

  button {
    background-color: #f20d5e;
    border-radius: 20px;
    width: 535px;
    height: 75px;
    border: 0;
    box-shadow: inset 4px 1px 2px #00000040;
  }
</style>
